<div class="footer" th:fragment="footer">
    <footer>
        <div class="inner_footer">
            <em>
                <span></span>
            </em>
            <ul>
                <li>
                    <a href="http://www.positive.co.kr/about/manuscript">원고 투고</a>
                </li>
                <li>
                    <a href="http://www.positive.co.kr/cs/affiliation/fileDown/%EC%A2%8B%EC%9D%80%EC%83%9D%EA%B0%81_%EA%B4%91%EA%B3%A0%EC%A0%9C%ED%9C%B4%EC%95%88%EB%82%B4.pdf">제휴 및 광고 안내</a>
                </li>
                <li>
                    <a href="http://www.positive.co.kr/cs/affiliation/fileDown/%EC%A2%8B%EC%9D%80%EC%83%9D%EA%B0%81%EC%82%AC%EC%9D%B4%ED%8A%B8_%EC%9D%B4%EC%9A%A9%EC%95%BD%EA%B4%80(%ED%9A%8C%EC%9B%90_%EB%B9%84%ED%9A%8C%EC%9B%90).pdf">이용약관</a>
                </li>
                <li>
                    <a href="http://www.positive.co.kr/cs/affiliation/fileDown/%EC%A2%8B%EC%9D%80%EC%83%9D%EA%B0%81%EC%82%AC%EB%9E%8C%EB%93%A4_%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%EC%B2%98%EB%A6%AC%EB%B0%A9%EC%B9%A8(%ED%9A%8C%EC%9B%90_%EB%B9%84%ED%9A%8C%EC%9B%90).pdf">개인정보 취급방침</a>
                </li>
            </ul>
            <div class="info">
                <em>㈜ 좋은생각사람들</em>
                <span class="footer-span1">&nbsp;</span>
                <ul>
                    <li>
                        <span>대표자 : 허대우</span>
                    </li>
                    <span class="footer-span1">&nbsp;</span>
                    <li>
                        <span>사업자번호 : 105-86-69496</span>
                    </li>
                    <span class="footer-span1">&nbsp;</span>
                    <li>
                        <span>&nbsp;</span>
                        <address class="address-1">
                            <span class="address-span">서울시 마포구 월드컵북로 22</span>
                        </address>
                    </li><span class="footer-span1">&nbsp;</span>
                    <li>
                        <span>마포통신 제2564호</span>
                    </li>
                    <span class="footer-span1">&nbsp;</span>
                    <li>
                        <span>Copyrights ⓒ Positive Thinking Inc. All rights reserved.</span>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>