footer {
    display: block;
    padding: 40px 0 30px;
    background: rgb(17, 153, 98);
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0;
    -webkit-text-stroke-width: 0;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.inner_footer {
    margin: 0 auto;
    padding: 0 16px;
    word-break: break-all;
    position: relative;
    max-width: 1232px;
    box-sizing: border-box;
    text-align: left;
}

.inner_footer > em {
    font-style: normal;
    display: block;
    width: 180px;
    height: 30px;
    margin: 0;
    background: url("../images/ftr_logo.png") 0 0 / 100% no-repeat;
    font-size: 14px;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(51, 51, 51);
}
.inner_footer > em > span {
    word-break: break-all;
    display: inline-block;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999px;
    text-align: left;
}

.inner_footer > ul {
    margin: 0;
    padding: 0;
    list-style: outside none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 16px;
}

.inner_footer > ul > li {
    margin: 0;
    padding: 0 0 0 25px;
    list-style: outside none;
    word-break: break-all;
}
.inner_footer > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
}

.info {
    margin: 30px 0 0;
    padding: 0;
    word-break: break-all;
    max-width: 600px;
    line-height: 25px;
}

.info > em {
    font-style: normal;
    width: auto;
    height: 30px;
    margin: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(255, 255, 255);
}
.footer-span1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(255, 255, 255);
}
.info > ul {
    margin: 0;
    padding: 0;
    list-style: outside none;
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
}

.info > ul > li {
    margin: 0;
    padding: 0;
    list-style: outside none;
    word-break: break-all;
    white-space: nowrap;
    display: inline-block;
}

.info > ul > li > span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(255, 255, 255);
}

.address-1 {
    display: inline;
}

.address-span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: NotoSans, Roboto, Droid Sans, Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(255, 255, 255);
}
